//color
$azure: #eaf2f4;
$ebony: #2c303d;
$old_rose: #ce2c52;
$curious_blue: #2c87ce;
$nero: #282828;

.product{

  &__wrapper{
    grid-auto-rows: minmax(24px, auto);
    display: grid;

    grid-auto-columns: minmax(24px, auto);
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__row.row1{
    grid-column: 1/2;
    grid-row: 1/4;
    margin-right: 20px;
    @include responsive(large){
      grid-column: 1/2;
      grid-row: 2/4;

    }
    @include responsive(mob){
      grid-row: 2/4;
    }
  }

  &__row.row2{

    grid-column: 2/-1;
    grid-row: 1/2;
    @include responsive(large){
      grid-column: 1/-1;

    }

    @include responsive(mob){
      grid-column: 1/2;

    }

  }
  &__row.row3{
    @include responsive(large){
      grid-column: 1/-1;
      grid-row: 2;
      grid-template-columns: 400px 1fr 1fr;
      display: grid;

    }
    @include responsive(phone){
      grid-column: 1/2;
      grid-row: 4/5;
    }



  }
  &__row{
    @include responsive(large){
      grid-column: 2/-1;

    }
    .share1{
      @include responsive(large){
      grid-column: 1;
      grid-row: 1;
      }
    }
  }
  &__photo{
    background-color: $azure;
    height: auto;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    max-width: 400px;
    &_img{
      display: block;
      margin: 0 auto;
      width: auto;

    }


  }
  &__title{
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    font-weight: 700;


  }
  &__id{
    font-size: 10px;

  }
  &__price{
    &_regular{
      font-size: 24px;
      font-weight: 700;
    }
    &_old{
      text-decoration-line: line-through;

    }
    &_new{
      color: $old_rose;
    }
  }
  &__share{
    font-size: 18px;
    color: $curious_blue;
    position: relative;
    text-align: center;
    &_social{
      width: 200px;
      height: 100px;
      background: rosybrown;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      @include responsive(large){
        right: initial;
      }
    }
  }




  &__desc{
    font-size: 12px;
    color: $nero;
  }

}


