//colors
$azure: #eaf2f4;
$ebony: #2c303d;
$old_rose: #ce2c52;
$curious_blue: #2c87ce;
$nero: #282828;
$white:#fff;
$black:#000;
$very_light_grey:#cdcdcd;
$turquoise_blue:#77d8e7;
$dark_sea_green:#96c795;
$can_can:#ce92a1;
$riptide:#8ae6cf;
$humming_bird:#C5F3E7;
$biloba_flower:#aa93cf;
$regent_grey:#787f84;


//fonts
$oswald: "Oswald",sans-serif;
$open-sans:'Open Sans', sans-serif;